<div class="container px-2 pt-5 pb-3 w-25 ">
    <div class="py-3 px-3 mt-4 bg-light border border-dark rounded ">
        <div>
            <div class="mx-auto">
                <h4>Log In</h4>
            </div>
        </div>
        <form method="POST" action="{{ path('app_login') }}" id="loginForm">
            <div class="form-group">
                <label for="email">Email address</label>
                <input
                        name="email"
                        class="form-control "
                        type="email"
                        id="email"
                        value="{{ last_username }}"
                        placeholder="name@example.com"
                        required
                />
                <div id="errorEmail" class="invalid-feedback">
                </div>
            </div>
            <div id="pass" class="form-group">
                <label for="password">Password</label>
                <input class="form-control " type="password" name="password" id="password" required/>
                <div id="errorPass" class="invalid-feedback">  </div>
            </div>
            <button
                    type="button"
                    onclick="submitForm()"
                    class="btn btn-outline-success mb-1"
            >Log In
            </button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
        </form>
        <small> <a href="{{ path('signup') }}">Create account</a></small>
    </div>
</div>

<!--error.messageKey|trans(error.messageData, 'security') -->